* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  margin-top: 50px;
  font-family: "Barlow Condensed", sans-serif;
}
header {
  margin: 0 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  width: 2.5rem;
  height: 2.5rem;
}
[id^="order"] {
  font-size: 15px;
  font-weight: 600;
  padding: 20px;
  border-radius: 10px;
  border: hidden;
  color: #1c2b4b;
  background-color: #e8eff2;
}
#order:hover {
  background-color: #1c2b4b;
  color: white;
  padding: 22px;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: 4px 5px 10px gray;
}
.banner1 {
  margin-left: 150px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.h_keyimage {
  width: 450px;
  height: 400px;
  border-radius: 15px;
  margin-left: 60px;
  margin-right: 50px;
}
.box_1 {
  height: 200px;
  width: 130px;
  background-color: rgb(233, 228, 228);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
[class^="para"] {
  margin: 50px 0;
}
[class^="para"] h1 {
  word-spacing: 50px;
  font-size: 50px;
  color: #1c2b4b;
}
[class^="para"] p {
  font-size: 18px;
  padding-top: 20px;
  font-weight: 500;
  padding-right: 20px;
  color: rgb(146, 145, 145);
}
#order_1 {
  margin-top: 30px;
  margin-right: 30px;
  color: white;
  background-color: rgb(236, 68, 7);
}
#order_1:hover {
  cursor: pointer;
  color: rgb(236, 68, 7);
  border: 2px solid rgb(236, 68, 7);
  background-color: white;
  transform: translateY(-10px);
  transition: 0.5s;
  box-shadow: 4px 5px 10px rgb(236, 68, 7);
}
span {
  font-size: 16px;
  font-weight: bold;
  color: rgb(146, 145, 145);
}
.arrow {
  text-decoration: none;
  font-size: 50px;
  color: rgb(236, 68, 7);
  position: fixed;
  bottom: 30px;
  left: 10px;
}
/* animation 2 */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}
.arrow {
  animation: bounce 1.5s ease-in-out infinite;
}
.banner2 {
  /*display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  margin-right: 150px;*/
  display:grid;
  grid-template-areas:
    "a b"
    "c c";
}
.box_2 {
  height: 200px;
  width: 100px;
  background-color: rgb(233, 228, 228);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: 200px;
}
.phekey_image {
  grid-area:a;
  height: 400px;
  width: 230px;
  border-radius: 20px;
  background: linear-gradient(
      90deg,
      rgba(255, 72, 0, 0.7511379551820728) 0%,
      rgba(255, 72, 0, 0.7483368347338936) 100%
    ),
    url("./image/image2.jpg") no-repeat center/cover;
}
.muskey_image {
  grid-area:b;
  height: 400px;
  width: 350px;
  border-radius: 20px;
}
.para_2 {
  grid-area:c;
  text-align: left;
  width: 300px;
  padding-left: 50px;
}
.para_2 h1 {
  font-size: 35px;
}
.option {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 100px 150px;
}
.features {
  padding: 20px;
  width: 200px;
  border-radius: 30px;
}
.features:hover {
  transform: translateY(-15px);
  transition: 0.5s;
  background-color: rgb(250, 221, 210);
  cursor: pointer;
}
.features i {
  padding: 17px;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  background-color: rgb(236, 68, 7);
  margin-bottom: 30px;
}
.features h3 {
  color: #1c2b4b;
  font-size: 23px;
}
.features p {
  margin-top: 30px;
  line-height: 20px;
  font-weight: 500;
  font-size: 17px;
  color: rgb(128, 126, 126);
}
footer {
  text-align: center;
  color: rgb(146, 145, 145);
  word-spacing: 5px;
  margin-bottom: 20px;
}
/* -------------------------------------------------------------------------------- */
/* Media query mobile view  */
@media screen and (max-width: 500px) {
  header {
    margin: 0 30px;
  }
  .banner1 {
    display: block;
    margin: 40px 30px;
  }
  [class^="para"] {
    margin: 50px 0;
  }
  [class^="para"] h1 {
    font-size: 60px;
    letter-spacing: 3px;
  }
  [class^="para"] p {
    font-size: 20px;
    padding-top: 20px;
    font-weight: 500;
    word-spacing: 3px;
    color: rgb(146, 145, 145);
  }
  #order_1 {
    margin-right: 20px;
  }
  .h_keyimage {
    width: 350px;
    height: 300px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 20px;
    margin-right: 0;
  }
  .box_1,
  .box_2 {
    display: none;
  }
  .banner2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-right: 0;
  }
  .phekey_image {
    height: 220px;
    width: 110px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .muskey_image {
    height: 220px;
    width: 280px;
    border-radius: 20px;
  }
  .para_2 {
    margin-top: 100px;
    text-align: center;
    width: 450px;
  }
  .para_2 p {
    font-size: 23px;
    word-spacing: 4px;
  }
  .option {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 30px;
  }
  .features {
    word-spacing: 3px;
    text-align: center;
    padding: 20px;
    width: 450px;
    border-radius: 30px;
  }
  .features p {
    font-size: 20px;
  }
  footer {
    margin-top: 50px;
  }
}
/* ----------------------------------------------------------------------------------------- */
/* Styles for tablet devices */
@media screen and (min-width: 501px) and (max-width: 850px) {
  .box_1,
  .box_2 {
    display: none;
  }
  header {
    margin: 0 30px;
  }
  .banner1 {
    margin-left: 30px;
  }
  .h_keyimage {
    width: 450px;
    height: 450px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 60px;
    margin-right: 0;
  }
  .banner2 {
    margin-right: 0;
    justify-content: space-evenly;
  }
  .muskey_image {
    height: 400px;
    width: 450px;
    border-radius: 20px;
  }
  .para_2 {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 10px;
  }
  .para_2 h1 {
    width: 300px;
  }
  .para_2 p {
    width: 480px;
    font-size: 18px;
    word-spacing: 3px;
  }
  .option {
    margin: 80px 50px;
  }
  .features {
    padding: 20px;
    width: 350px;
    border-radius: 30px;
    margin: 40px 0;
  }
  .features h3 {
    font-size: 28px;
  }
  .features p {
    font-size: 20px;
  }
}
